altgraph==0.17.3
appnope==0.1.3
asttokens==2.4.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
dlib==19.24.2
et-xmlfile==1.1.0
executing==2.0.1
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.13.1
fonttools==4.45.0
fsspec==2023.10.0
idna==3.4
ipython==8.17.2
jedi==0.19.1
Jinja2==3.1.2
kiwisolver==1.4.5
macholib==1.16.2
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.2
opencv-python==4.8.1.78
openpyxl==3.1.2
openvino==2023.1.0
packaging==23.2
pandas==2.0.3
parso==0.8.3
pexpect==4.8.0
Pillow==10.1.0
prompt-toolkit==3.0.41
ptyprocess==0.7.0
pure-eval==0.2.2
pygame==2.5.2
Pygments==2.17.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pyparsing==3.1.1
PyQt3D==5.15.6
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
pywatchman==1.4.1
requests==2.31.0
scipy==1.11.2
six==1.16.0
stack-data==0.6.3
sympy==1.12
TBB==0.2
tk==0.1.0
torch==2.1.1
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
wcwidth==0.2.11
